.venv
.vscode
src/app/__pycache__
src/app/adapters/__pycache__
src/app/routing/__pycache__
src/app/use_cases/__pycache__
src/app/use_cases/**/__pycache__
src/app/providers/__pycache__
src/app/providers/**/__pycache__
format.sh